#box1{
    width: 250px;
    height: 250px;
    background: pink;
    font-size: 110px;
    color: #FFFF;
    display: flex;              
    justify-content: center;   
    align-items: center;

    animation: UwU 5s infinite alternate;
    
}

@keyframes UwU{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}

#box2{
    width: 150px;
    height: 50px;
    background: white;
    font-size: 110px;
    color: #000;
    display: flex;              
    justify-content: center;   
    align-items: center;
    margin-top: 50px;
    position: relative;  
    animation: ehe 5s infinite alternate, rotate 5s infinite linear;

}

@keyframes ehe{
    from{margin-left:0%;}
    to{margin-left:100%}
}

@keyframes rotate{
    100%{transform: rotateY(360deg)}
}